@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./tooltip.css);

html{
    background-color: #09050D;
}

.__content{
    position: relative;
}

@media (max-width: 768px) { 
     #svg1, #svg2, #svg3{
        width: 80px;
        height: 80px;
     }
}

@keyframes animateSvg1 {
    0% { left: 100px; top: 100px }
    50%    { left: 200px; top: 200px; }
    100% { left: 100px; top: 100px }
}
@-moz-keyframes animateSvg1 {
    0% { left: 100px; top: 100px }
    50%    { left: 200px; top: 200px; }
   100% { left: 100px; top: 100px }
}
@-webkit-keyframes animateSvg1 {
    0% { left: 100px; top: 100px }
    50%    { left: 200px; top: 200px; }
    100% { left: 100px; top: 100px }
}
@-ms-keyframes animateSvg1 {
    0% { left: 100px; top: 100px }
    50%    { left: 200px; top: 200px; }
    100% { left: 100px; top: 100px }
}
@-o-keyframes animateSvg1 {
    0% { left: 100px; top: 100px }
    50%    { left: 200px; top: 200px; }
    100% { left: 100px; top: 100px }
}

@keyframes animateSvg3 {
    0% { left: 200px; top: 200px }
    50%    { left: 100px; top: 100px; }
    100% { left: 200px; top: 200px }
}
@-moz-keyframes animateSvg3 {
    0% { left: 200px; top: 200px }
    50%    { left: 100px; top: 100px; }
    100% { left: 200px; top: 200px }
}
@-webkit-keyframes animateSvg3 {
    0% { left: 200px; top: 200px }
    50%    { left: 100px; top: 100px; }
    100% { left: 200px; top: 200px }
}
@-ms-keyframes animateSvg3 {
    0% { left: 200px; top: 200px }
    50%    { left: 100px; top: 100px; }
    100% { left: 200px; top: 200px }
}
@-o-keyframes animateSvg3 {
    0% { left: 200px; top: 200px }
    50%    { left: 100px; top: 100px; }
    100% { left: 200px; top: 200px }
}

#svg1, #svg2, #svg3{
    filter: blur(400px);
    -webkit-filter: blur(400px);
    z-index: -1;
    position: absolute;
}

#svg1{
    left: 100px;
    top: 100px;
    animation: animateSvg1 10s linear infinite;
    -moz-animation: animateSvg1 10s linear infinite;
    -webkit-animation: animateSvg1 10s linear infinite;
    -ms-animation: animateSvg1 10s linear infinite;
    -o-animation: animateSvg1 10s linear infinite;
}

#svg3{
    left: 200px;
    top: 200px;
    animation: animateSvg3 10s linear infinite;
    -moz-animation: animateSvg3 10s linear infinite;
    -webkit-animation: animateSvg3 10s linear infinite;
    -ms-animation: animateSvg3 10s linear infinite;
    -o-animation: animateSvg3 10s linear infinite;
}
